<% content_for :title do %>Rails Bootstrap<% end %>
<% content_for :description do %>Rails Bootstrap Example<% end %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "1m.jpg" %>
      <div class="carousel-caption text-center">
        <h4>August 15</h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "2m.jpg" %>
      <div class="carousel-caption text-center">
        <h4>Sept 11</h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "3m.jpg" %>
      <div class="carousel-caption text-center">
        <h4>July 28</h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "4m.jpg" %>
      <div class="carousel-caption text-center">
        <h4>June 26</h4>
      </div>
    </div>    
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></a>
</div>